{{> partials/nav-main }}

<h1>{{title}}</h1>

<div class="row">
    {{#each list}}
	<div class="column col-4">
	        {{this}}
	</div>
    {{/each}}
</div>    ddd

<div class="masonry-grid">
  <div class="masonry-item masonry-item--width2"><img src="images/200.jpg" /></div>
  <div class="masonry-item masonry-item--width2 masonry-item--height2"><img src="images/cat.jpg" /></div>
  <div class="masonry-item masonry-item--width2"><img src="images/cat.jpg" /></div> 
  <div class="masonry-item masonry-item--width4 masonry-item--height3"><img src="images/200.jpg" /></div> 
</div>
